$white-color: #FFFFFF;
$black-color: #202020;
$sub-black-color: #272727;
$yellow-color: #FFCA00;
$deep-blue:	#4169E1;
$btns-color: #250F8A;

%title-font{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700px;
}

%default-font{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600px;
}

%description-font{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400px;
}

%average-font-things{
    font-size: 15px;
    line-height: 24px;
}

%backgrorung-things{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}